ul.list-unstyled {
  li {
    list-style-type: none;
  }
}

ul.list-inline {
  li {
    display: inline;
  }

  // Spaced li elements
  &.spaced {
    li {
      margin: auto 1rem;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      margin-right: 0;
    }
  }

}
