$color-white: #ffffff !default;
$color-initial: #FCF0C9 !default;
$color-primary: #D03229 !default;
$color-secondary: #2D5B5A !default;
$color-tertiary: #42817C !default;
$color-quaternary: #98C8C8 !default;
$color-quinary: #e1e1e1 !default;
